@import "reboot.min.css";
/* @import "pico.classless.min.css"; */

/* 7i1FhTMzjpCbw0zs */
/* Start General Styling */

body {
  margin: 0;
}

main {
  /* Content Area */
  flex: auto;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

footer {
  /* Footer Area */
  background-color: white;
}

.body {
  /* Base Styles and Layout */
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 1.5;

  margin: 0;

  background-color: white;

  color: black;
}

a, a:visited {
  /* Link colors */
  text-decoration: none;
  
  color: black;
}


/* End General Styling */
/* Start Base Header Styling */
.header-menu-bar {
  /* Header Team Name/Logo and Hamburger Menu Flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav ul {
  /* Header Nav List Styling */
  list-style: none;

  padding-left: 0;

  margin: auto;
}

.header-nav a {
  /* Header Nav Button Styling */
  display: block;
  padding: 2rem 1rem;

  color: black;
}

li .router-link-exact-active {
  font-weight: bold;
}

.header-area-mobile .header-nav a {
  /* Header Nav Button Styling */
  display: block;
  padding: 1rem;

  color: black;
}

.header-area-mobile .header-nav a:hover, .header-nav a:hover {
  background-color: black;
  color: white;
  transition: all 200ms ease-out;
}

/* Start Mobile Header Styling */
.header-area-mobile {
  /* Header Logo-Nav Main Flexbox */
  display: flex;
  flex-direction: column;

  text-align: center;

  background-color: white;
  color: black;
}

.header-menu-link {
  /* Hamburger Menu Icon */
  padding: 0.75rem 0.5rem;

  transition-duration: 0.5s;

  color: black;

  background: none;
  border: none;
}

.cart-menu {
  display: flex;
  align-items: center;
}

.cart {
  padding: 0.75rem 0.5rem;
}

.header-logo-name-mobile {
  /* Header Team Name/Logo Flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.5rem;
}

.header-logo-name-mobile p {
  /* Header Team Name Styling */
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 26px;
  color: black;

  margin-bottom: 0;
  width: 9ch;
}

.header-nav {
  /* Header Navigation Links */
  clear: both;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.open {
  /* Header Navigation Links Open State */
  max-height: 20rem;
}

.close {
  max-height: 0;
}
/* End Mobile Header Styling */
/* Start Desktop Header Styling */
.header-area-desktop {
  /* Header Logo-Nav Main Flexbox */
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1200px;

  background-color: white;
  color: black;
}

.header-logo-name-desktop {
  /* Header Team Name/Logo Flexbox */
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header-logo-name-desktop p {
  /* Header Team Name Styling */
  font-family: 'Oleo Script Swash Caps', cursive;
  margin: auto;
  font-size: 32px;
}

/* End Desktop Header Styling */
/* Start Banner Styling */
.banner-content {
  width: 100%;
  margin: auto;
}

.banner-title {
  /* Hero Section Styling */
  display: flex;
  flex-direction: column;
  align-items: baseline;

  height: 510px;

  margin: 0;

  background: url('../images/banner.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: darken;
}

.banner-title h1 {
  /* Hero Section Main Text Styling */
  font-family: 'Reem Kufi Fun', Arial, Helvetica, cursive;
  font-size: 32px;

  color: #e9c46a;

  margin: 0;
  margin-top: 1rem;
  margin-left: 1rem;
}

.banner-title p {
  /* Hero Section Secondary Text Styling */
  font-size: clamp(20px, 3vw, 32px);

  max-width: 30ch;
  margin: 0rem;
  margin-left: 1rem;
  
  color: white;
}

.cta {
  /* Button Container */
  max-width: 15ch;
  margin: 1rem;

  background-color: white;

  font-family: 'Reem Kufi', 'Trebuchet MS', cursive;
}


.cta a {
  /* Button Content Style */
  display: block;

  font-size: clamp(18px, 2vw, 22px);

  padding: 0.5rem;
  margin: auto;

  text-align: center;
  text-decoration: none;

  box-shadow: 0px 0px 12px 3px red;
}

.cta:hover {
  /* Button Hover State */
  background-color: red;
  transition: all 200ms ease-out;
}
.cta a:hover {
  color: white;
}
/* End Banner Styling */
/* Start Footer Styling */
.footer-area {
  /* Main Bottom Flexbox */
  display: flex;
  flex-direction: column;

  text-align: center;
}

.footer-logo-name {
  /* Bottom Website Title Styling */
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1rem;
}

.footer-logo-name p {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 24px;

  margin-bottom: 0;
}

.secondary-nav a {
  /* Bottom Navigation Button Styling */
  display: block;
  padding: 0.5rem;
}

.secondary-nav ul {
  /* Secondary Navigation Styling */
  list-style: none;
  padding-left: 0px;
  margin: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.secondary-nav ul li:hover {
  /* Secondary Navigation Styling */
  text-decoration: underline;
  font-weight: bold;
}
.copyright {
  /* Copyright Text Styling */
  font-size: 16px;
  text-align: center;

  margin-top: 1rem;

  color: black;
}
/* End Footer Styling */
/* Start Product Container Styling */
.mainCont {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 1200px;
}

.productCont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
/* End Product Container Styling */
/* Start Product Card Styling */
.product {
  margin-top: 2.5rem;
  padding: 0 1.5rem;
}
.product h3 {
  padding-top: 0.5rem;
}

.description {
  padding-bottom: 0.5rem;
}

.price {
  font-weight: bold;
}

.priceaddcart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.product img {
  width: 100%;
  max-width: 100%;
  border: 1px solid black;
}

.addtocart {
  color: #fff;
  font-size: 14px;
  padding: 9px 25px;
  background-color: #CC2121;
  text-transform: capitalize;
  transition: 0.4s;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.25rem;
  text-decoration: none;
}

h3, p {
  margin: 0;
}

@media only screen and (min-width: 576px) {
  .product {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .product {
    width: 33.33%;
  }
}
/* End Product Card Styling */
/* Start Contact Page Styling */

.contact-form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-form button {
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 0.2rem;
  text-transform: capitalize;
  background-color: #CC2121;
  cursor: pointer;
  border: 0;
}

.contact-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.contact-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info, .contact-form {
    padding: 2rem;
}

.contact-form p {
  padding: 1rem 0;
  font-size: 20px;
  font-weight: bold;
}

.contact-form input {
  width: 48%;
  margin-bottom: 1rem;
}

.contact-form input[name=subject] {
  width: 100%;
}

.contact-form textarea {
  margin-bottom: 1rem;

  width: 100%
}

.contact-form button {
  width: 33.33%;
}

@media only screen and (min-width: 576px) {
  .contact-container {
    flex-direction: row;
  }
}

@media only screen and (min-width: 992px) {
  .contact-info, .contact-form {
    width: 50%;
  }
}
/* End Contact Page Styling */
/* Start General Media Quaries */
@media only screen and (min-width: 576px) {
  .header-area-desktop {
    /* Header Logo-Nav Main Flexbox */
    display: flex;
  }

  .header-area-mobile {
    /* Header Logo-Nav Main Flexbox */
    display: none;
  }

  .header-nav {
    /* Header Navigation Links */
    max-height: none;
  }

  .header-nav ul {
    /* Header Nav List Styling */
    display: flex;
    justify-content: space-evenly;
  }

  .banner-content {
    max-width: 1200px;
  }

  .banner-title h1 {
    font-size: 48px;

    margin-top: 2rem;
    margin-left: 2rem;
  }

  .banner-title p {
    margin-left: 2rem;
  }

  .cta {
    margin-left: 2rem;
  }

  .cta:hover {
    margin: 2rem
  }

  .footer-area {
    /* Footer Main Flexbox */
    align-items: center;
    justify-content: space-evenly;

    max-width: 1200px;

    margin: auto;
  }

  .secondary-nav ul {
    margin-bottom: 0;
    margin-top: 0;
    flex-direction: row;
    gap: 20px;
  }

  .footer-logo-name p {
    /* Footer Team Name Styling */
    font-size: 26px;
    margin-bottom: 0;
  }
}
/* End General Media Quaries */